/* nav style*/



.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.f-tag{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav>ul>li{
    list-style: none;
    margin-right:  50px;
}
nav>ul{
    display: flex;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
span{
    color: #FD6E0A;
}
.btn{
    width: auto;
    padding: 12px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #FD6E0A;
    color: aliceblue;
    font-weight: bolder;
    font-size: 15px;
}
.btn2{
    width: auto;
    padding: 12px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: aliceblue;
    color:  #FD6E0A;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid #FD6E0A;
}

/* bannar style */

header>.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 200px;
}
.bannar-cont .bn-h4{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.bannar-cont .bn-h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}
.bannar-cont .bn-p{
    font-size: 18px;
    color: #757575;
}

/* main */
main{
    margin-top: 110px;
    padding: 0 180px;
}

.about{

    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 100px 120px;
    text-align: center;
    background-color:#FFF8F3 ;
    border-radius: 8px;
}
.hthree{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.about p{
    font-size: 18px;
    color: #757575;
}
.about .child{
    border: 1px solid rgb(70, 68, 68);
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.i-title{
    font-size: 18px;
    color: #757575;
}
.i-description{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}

/* what i do section*/

.tow{
    margin-top: 90px;
}
.wid{
    /*width: 990px;*/
    height: auto;
    margin: 0 auto;
    /*padding: 100px 120px;*/
    text-align: center;
    
}
.wid-item img{
    width: 35px;
    height: 35px;
} 
.wid-item{
    /*width: 202px;*/
    text-align:left ;
    box-shadow:0 6px 50px 0 rgba(0, 0, 0, 0.06) ;
    padding:15px 18px ;
    border-radius: 8px;
   
}
.wid-items{
    display: flex;
    justify-content:space-around;
    margin-top: 25px;
    gap: 12px;
}

/* resume */
.third{
    margin-top: 150px;
}
.third>h1{
    text-align: center;
}
.resume-cont{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.resume-cont .tow{
   margin-bottom: 89px;
}
.resume-cont .one,.tow{
    padding: 0;
}
.btn-third{
    display: flex;
    justify-content: center;
   
}
.btn-third .btn-l{
    width: auto;
    padding: 12px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #FD6E0A;
    color: aliceblue;
    font-weight: bolder;
    font-size: 15px;
    
    
}


/* footer-area */
footer{
    display: flex;
    justify-content: center;
    background-color:#FFF8F3 ;
    padding: 90px 150px;
    margin-top: 100px;
}
.footer-cont{
   padding: 30px;
}
.footer-cont p{
    font-size: 15px;
    
}
.footer-form{
    padding: 30px;
}
.footer-form input{
    display:block;
    width: 240px;
    height:40px ;
    margin-bottom: 15px;
    border-style: none;
    padding-left: 10px;
}
.footer-form textarea{
    margin-bottom: 12px;
    border-style: none;
    width: 240px;
    padding: 10px 0px 0px 10px;
}
.footer-form input[type="submit"]{
    width: 100px;
    padding: 12px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: #FD6E0A;
    color: aliceblue;
    font-weight: bolder;
    font-size: 15px;
}

@media screen and (max-width:576px) {
    .wid-items,.resume-cont,footer{
        flex-direction: column;
    }
    main{
        padding: 0 30px;
    }
    .tow{
        margin-top: 0;
    }
    .about{
        padding: 5px 7px;
        margin-top: 40px;
    }
    .about .child{
        border-radius: 5px;
    }
    footer{
        padding: 5px 10px;
        margin-top: 40px;
    }
    .footer-cont,.footer-form{
        padding: 0;
    }
    .third{
        margin-top: 50px;
    }
    .resume-cont .tow{
        margin-bottom: 25px;
     }
     header .bannar{
        margin: 0 0 0 10px;
     }
     header,nav{
        width: 98%;
     }
     .btn, .btn2{
        margin-bottom: 5px;
     }
     .bannar .bannar-cont,.bannar img{
        width: 50%;
     }
     nav{
        justify-content: space-evenly;
        margin: 0 0 0 10px;
    }
    .bannar-cont .bn-h4{
        font-size: 25px;
        font-weight: bold;
        color: #474747;
    }
    .bannar-cont .bn-h1{
        font-size: 45px;
        font-weight: bold;
        color: #181818;
    }
    .bannar-cont .bn-p{
        font-size: 12px;
        color: #757575;
    }
    .nav-title{
        font-weight: 600;
        font-size: 30px;
    }
    nav>ul>li{
        margin-left:  15px;
    }
    .btn{
        width: auto;
        padding: 8px 6px;
        border-radius: 5px;
        border-style: none;
        background-color: #FD6E0A;
        color: aliceblue;
        font-weight: bold;
        font-size: 10px;
    }
    .btn2{
        width: auto;
        padding: 8px 6px;
        border-radius: 5px;
        border-style: none;
        background-color: aliceblue;
        color:  #FD6E0A;
        font-weight: bold;
        font-size: 10px;
        border: 1px solid #FD6E0A;
    }
}
